@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optionale Glättung für Premium-Optik */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}