---
import Layout from '../../layouts/Layout.astro';
import cities from '../../data/cities_2026.json';
export const prerender = true;

export async function getStaticPaths() {
  return cities.map((city) => ({
    params: { citySlug: city.slug },
    props: { city },
  }));
}
const { city } = Astro.props;
---

<Layout title={`Redirecting...`}>
  <head>
    <meta http-equiv="refresh" content={`0;url=/${city.slug}/grundsicherung/`} />
    <link rel="canonical" href={`https://sozialer-navigator.de/${city.slug}/grundsicherung/`} />
  </head>
  <body>
    <p>Sie werden weitergeleitet...</p>
  </body>
</Layout>